body {
    padding-top: 10%;
}
#content-main {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding: 20px 0;
}
#login-form {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 600px;
}
.logo-admin {
    margin:0 auto 20px auto;
    display: block;
}
#login-form legend {
    border-color: transparent;
    color: #fff;
}
#login-form .btn {
    transition: background .3s ease-in-out;
}
.password-reset-link {
    margin-top: 20px;
}
.toggle-password:hover {
    cursor: pointer;
    background-color: #ddd;
}
.errornote {
    text-align: left;
}

@media (max-width: 767px) {
    body {
        padding-top: 60px;
    }
    .form-row .password {
        margin-top: 15px;
    }
    #login-form {
        margin: 0 30px;
        width: auto;
    }
}
