{% extends 'TableMeta.html' %}
{% load static %}

{% block table_thead_after %}<th data-valign="middle" data-align="center">Selections</th>{% endblock table_thead_after %}

{% block table_tbody_after %}<td><button class="btn btn-primary btn-round btn-xs select_row">Select</button></td>{% endblock table_tbody_after %}

{% block table_foot_script %}
<script>
    var $tableDetail = $('.tableDetail'),
    pk_detail='{{ table.pk }}',
    url_selectRow='{{ table.url_selectRow }}';

    function initTable() {
        $tableDetail.bootstrapTable({

        });

        setTimeout(function () {
            $tableDetail.bootstrapTable('resetView');
        }, 200);

        $(".select_row").click(function () {
            var that=this;
            var id=$(that).closest('tr').data('uniqueid');
            $.get(url_selectRow,{'pk':pk_detail,'id':id},function () {
                $(that).closest('td').html('<i class="fa fa-check" style="color:green;">')
            });
        });
    }

    $(function () {
        var scripts = [
            ],
            eachSeries = function (arr, iterator, callback) {
                callback = callback || function () {};
                if (!arr.length) {
                    return callback();
                }
                var completed = 0;
                var iterate = function () {
                    iterator(arr[completed], function (err) {
                        if (err) {
                            callback(err);
                            callback = function () {};
                        }
                        else {
                            completed += 1;
                            if (completed >= arr.length) {
                                callback(null);
                            }
                            else {
                                iterate();
                            }
                        }
                    });
                };
                iterate();
            };
        eachSeries(scripts, getScript, initTable);
    });
    function getScript(url, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = url;
        var done = false;
        // Attach handlers for all browsers
        script.onload = script.onreadystatechange = function() {
            if (!done && (!this.readyState ||
                    this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true;
                if (callback)
                    callback();
                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };
        head.appendChild(script);
        // We handle everything using the script element injection
        return undefined;
    }
</script>
{% endblock table_foot_script %}