{% load static %}

{% block form_head_script %}{% endblock form_head_script %}
{% block form %}

<form class="form-horizontal form-label-left " id="{{ form.id }}" novalidate>
{% csrf_token %}
  {% block widget_head_extra %}{% endblock widget_head_extra %}
  {% for field in form %}
    <div class="form-group item">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="{{ field.id_for_label }}">{{ field.label|title }}:</label>
      <div class = "col-md-6 col-sm-6 col-xs-12">
        {{ field }}
      </div>
    </div>
  {% endfor %}
  {% block widget_foot_extra %}{% endblock widget_foot_extra %}
  {% block buttons %}
  {% endblock buttons %}
</form>
{% endblock form %}
{% block form_foot_script %}{% endblock form_foot_script %}

